.ok
{
    font-weight: bold;
    color: green;
}

.not-ok
{
    font-weight: bold;
    color: red;
}

.monospaced
{
    font-family: monospace;
}

#setup-left
{
    margin-top: 2em;
}

#setup-right
{

}

li.active
{
    font-weight: bold;
}

li.inactive
{
    color: grey;
}

form {
    padding-top: 5%;
}

form label {
    display: inline-block;
    width: 150px;
    text-align: right;
    padding-right: 5px;
}

#submit-user {
    margin-left: 159px;
}