

.message {
    color: [% site.col.message %];
}

.error {
    color: [% site.col.error %];
}


.transaction
{
        cursor: pointer;
}

.transactionData
{
        padding-top: 4px;
}

.new
{
        font-weight: bold;
}

.TotalRow
{
        font-weight: bold;
        background-color: #E5E5E5;
}

#newTransaction
{
        display: none;
}

#newTransactionDetail
{
        display: none;
}

