# Perl .gitignore contents of https://github.com/github/gitignore/blob/master/Perl.gitignore
blib/
.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
Makefile
Makefile.old
MANIFEST.bak
META.yml
MYMETA.yml
MYMETA.json
nytprof.out
pm_to_blib

### Personal ###

# log files
*.log

# local files
init.sql
*.db

# migration files
share/moneytraq-schema/*
share/moneytraq-schema.db

