<!-- -*- mode: xml -*- -->
[% META title = 'MoneyTraq::Transaction' %]

<link href="[% c.uri_for('/static/css/transactions-add.css') %]" rel="stylesheet" media="screen">

<script type="text/javascript">
  $(document).ready(function () {
  $("input[name='dat_valid']").datepick({dateFormat: 'dd/mm/yy'});

  [% IF c.action == 'transactions/add' -%]
    $("input[name='description']").focus();
  [% END -%]

  });
</script>

<h1>Add a new transaction</h1>
[% form %]
