<!-- -*- mode: xml -*- -->
[% META title = 'MoneyTraq::Transaction Detail' %]

<script type="text/javascript">
  $(document).ready(function () {
  $("input[name='amount']").focus();
  });

  function submitPlusNew() {
    document.getElementById('submit_plus_new').value = 1;
    document.getElementById('submit').click();
  }
</script>

[% form %]
