<!-- -*- mode: xml -*- -->
[% META title = 'MoneyTraq::Transaction Detail' %]

<link href="[% c.uri_for('/static/css/transactiondetails-add.css') %]" rel="stylesheet" media="screen">

<script type="text/javascript">
  $(document).ready(function () {
  $("input[name='amount']").focus();
  });

  function submitPlusNew() {
    document.getElementById('submit_plus_new').value = 1;
    document.getElementById('submit').click();
  }
</script>

<h1>Add a new transaction detail</h1>
[% form %]
